[Desktop Entry]
Version=0.2.0
Type=Application
Name=ArchImmich
Comment=Immich Archive Tool
Exec=ArchImmich
Icon=archimmich
Terminal=false
Categories=Utility;Archiving;
Keywords=immich;archive;backup;