# Ignore VSCode settings + macOS
.vscode/
.DS_Store

# Ignore Python cache and virtual environment
__pycache__/
venv/
*.pyc

# Ignore Build files
build/
dist/
release/

# Ignore environment files
.env

# ignore zip files
*.zip